<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="text-end mt-4">
          <button class="btn btn-primary" type="button" @click="openMdel('new',[])">
            建立新的產品
          </button>
        </div>
        <table class="table mt-4">
          <thead>
            <tr>
              <th width="120">
                分類
              </th>
              <th>產品名稱</th>
              <th width="120">
                原價
              </th>
              <th width="120">
                售價
              </th>
              <th width="100">
                是否啟用
              </th>
              <th width="120">
                編輯
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in products" :key="item.id">
              <td>{{item.category}}</td>
              <td>{{item.title}}</td>
              <td class="text-end">{{item.origin_price}}</td>
              <td class="text-end">{{item.price}}</td>
              <td>
                <span v-if="item.is_enabled" class="text-success">啟用</span>
                <span v-else>未啟用</span>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary btn-sm" @click="openMdel('edit',item)">
                    編輯
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-sm" @click="openMdel('delete',item)">
                    刪除
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- pagination -->
      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li v-if="pagination.current_page != 1" class="page-item"><a class="page-link" href="#" @click="getProducts(pagination.current_page-1)">Previous</a></li>
          <li v-for="(page,indx) in pagination.total_pages" class="page-item"><a class="page-link" href="#" @click="getProducts(indx+1)">{{indx+1}}</a></li>
          <li v-if="pagination.current_page != pagination.total_pages" class="page-item"><a class="page-link" href="#" @click="getProducts(pagination.current_page+1)">Next</a></li>
        </ul>
      </nav> -->
      <!-- pagination -->
      <pagination :pagination="pagination" :get-products="getProducts"></pagination>
      </div>
      <product-modaltemp :state="state" :temp-product="tempProduct" :add-img="addImg" :remove-img="removeImg" :create-or-update-product="createOrUpdateProduct" ></product-modaltemp>
      <del-product-modaltemp :state="state" :temp-product="tempProduct" :delete-product="deleteProduct" ></del-product-modaltemp>
      <!-- Modal -->
      <!-- <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white">
              <h5 id="productModalLabel" class="modal-title">
                <span v-if="state == 'new'">新增產品</span>
                <span v-else>編輯產品</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label for="imageUrl" class="form-label">主要圖片</label>
                        <input v-model="tempProduct.imageUrl" type="text" class="form-control mb-2" placeholder="請輸入圖片連結">
                        <img class="img-fluid" :src="tempProduct.imageUrl">
                      </div>
                  <div class="mb-2" v-for="(item,index) in tempProduct.imagesUrl" :key="index">
                    <div class="mb-3">
                      <label for="imageUrl" class="form-label">輸入圖片網址</label>
                      <input type="text" class="form-control"
                             placeholder="請輸入圖片連結" v-model="tempProduct.imagesUrl[index]">
                    </div>
                    <img class="img-fluid" :src="item" alt="">
                  </div>

                  <div v-if="tempProduct.imagesUrl.length == 0 || tempProduct.imagesUrl[tempProduct.imagesUrl.length - 1]">
                    <button class="btn btn-outline-primary btn-sm d-block w-100" @click="addImg">
                      新增圖片
                    </button>
                  </div>
                  <div v-else>
                    <button class="btn btn-outline-danger btn-sm d-block w-100" @click="removeImg">
                      刪除圖片
                    </button>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="mb-3">
                    <label for="title" class="form-label">標題</label>
                    <input id="title" type="text" class="form-control" placeholder="請輸入標題" v-model="tempProduct.title">
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="category" class="form-label">分類</label>
                      <input id="category" type="text" class="form-control"
                             placeholder="請輸入分類" v-model="tempProduct.category">
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">單位</label>
                      <input id="unit" type="text" class="form-control" placeholder="請輸入單位" v-model="tempProduct.unit">
                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="origin_price" class="form-label">原價</label>
                      <input id="origin_price" type="number" min="0" class="form-control" placeholder="請輸入原價" v-model="tempProduct.origin_price">
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">售價</label>
                      <input id="price" type="number" min="0" class="form-control"
                             placeholder="請輸入售價" v-model="tempProduct.price">
                    </div>
                  </div>
                  <hr>

                  <div class="mb-3">
                    <label for="description" class="form-label">產品描述</label>
                    <textarea id="description" type="text" class="form-control"
                              placeholder="請輸入產品描述" v-model="tempProduct.description">
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">說明內容</label>
                    <textarea id="description" type="text" class="form-control"
                              placeholder="請輸入說明內容" v-model="tempProduct.content">
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input id="is_enabled" class="form-check-input" type="checkbox" v-model="tempProduct.is_enabled"
                             :true-value="1" :false-value="0">
                      <label class="form-check-label" for="is_enabled">是否啟用</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                取消
              </button>
              <button type="button" class="btn btn-primary" @click="createOrUpdateProduct()">
                確認
              </button>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
           aria-labelledby="delProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content border-0">
            <div class="modal-header bg-danger text-white">
              <h5 id="delProductModalLabel" class="modal-title">
                <span>刪除產品</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              是否刪除
              <strong class="text-danger"></strong>{{tempProduct.title}} 商品(刪除後將無法恢復)。
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                取消
              </button>
              <button type="button" class="btn btn-danger" @click="deleteProduct">
                確認刪除
              </button>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Modal -->
    </div>
    <!-- pagination -->
    <script type="text/x-template" id="pagination">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li v-if="pagination.current_page != 1" class="page-item"><a class="page-link" href="#" @click="getProducts(pagination.current_page-1)">Previous</a></li>
          <li v-for="(page,indx) in pagination.total_pages" 
              class="page-item" 
              :class="{'active':page === pagination.current_page}">
              <a class="page-link" href="#" @click="getProducts(indx+1)">{{indx+1}}</a>
        </li>
          <li v-if="pagination.current_page != pagination.total_pages" class="page-item"><a class="page-link" href="#" @click="getProducts(pagination.current_page+1)">Next</a></li>
        </ul>
      </nav>
    </script>
    <!-- productModal -->
    <script type="text/x-template" id="productModal">
      <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white">
              <h5 id="productModalLabel" class="modal-title">
                <span v-if="state == 'new'">新增產品</span>
                <span v-else>編輯產品</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label for="imageUrl" class="form-label">主要圖片</label>
                        <input v-model="tempProduct.imageUrl" type="text" class="form-control mb-2" placeholder="請輸入圖片連結">
                        <img class="img-fluid" :src="tempProduct.imageUrl">
                      </div>
                  <div class="mb-2" v-for="(item,index) in tempProduct.imagesUrl" :key="index">
                    <div class="mb-3">
                      <label for="imageUrl" class="form-label">輸入圖片網址</label>
                      <input type="text" class="form-control"
                             placeholder="請輸入圖片連結" v-model="tempProduct.imagesUrl[index]">
                    </div>
                    <img class="img-fluid" :src="item" alt="">
                  </div>

                  <div v-if="tempProduct.imagesUrl.length == 0 || tempProduct.imagesUrl[tempProduct.imagesUrl.length - 1]">
                    <button class="btn btn-outline-primary btn-sm d-block w-100" @click="addImg">
                      新增圖片
                    </button>
                  </div>
                  <div v-else>
                    <button class="btn btn-outline-danger btn-sm d-block w-100" @click="removeImg">
                      刪除圖片
                    </button>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="mb-3">
                    <label for="title" class="form-label">標題</label>
                    <input id="title" type="text" class="form-control" placeholder="請輸入標題" v-model="tempProduct.title">
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="category" class="form-label">分類</label>
                      <input id="category" type="text" class="form-control"
                             placeholder="請輸入分類" v-model="tempProduct.category">
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">單位</label>
                      <input id="unit" type="text" class="form-control" placeholder="請輸入單位" v-model="tempProduct.unit">
                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="origin_price" class="form-label">原價</label>
                      <input id="origin_price" type="number" min="0" class="form-control" placeholder="請輸入原價" v-model="tempProduct.origin_price">
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">售價</label>
                      <input id="price" type="number" min="0" class="form-control"
                             placeholder="請輸入售價" v-model="tempProduct.price">
                    </div>
                  </div>
                  <hr>

                  <div class="mb-3">
                    <label for="description" class="form-label">產品描述</label>
                    <textarea id="description" type="text" class="form-control"
                              placeholder="請輸入產品描述" v-model="tempProduct.description">
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">說明內容</label>
                    <textarea id="description" type="text" class="form-control"
                              placeholder="請輸入說明內容" v-model="tempProduct.content">
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input id="is_enabled" class="form-check-input" type="checkbox" v-model="tempProduct.is_enabled"
                             :true-value="1" :false-value="0">
                      <label class="form-check-label" for="is_enabled">是否啟用</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                取消
              </button>
              <button type="button" class="btn btn-primary" @click="createOrUpdateProduct()">
                確認
              </button>
            </div>
          </div>
        </div>
      </div>
    </script>
    <!-- delProductModal -->
    <script type="text/x-template" id="delProductModal">
      <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
           aria-labelledby="delProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content border-0">
            <div class="modal-header bg-danger text-white">
              <h5 id="delProductModalLabel" class="modal-title">
                <span>刪除產品</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              是否刪除
              <strong class="text-danger"></strong>{{tempProduct.title}} 商品(刪除後將無法恢復)。
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                取消
              </button>
              <button type="button" class="btn btn-danger" @click="deleteProduct">
                確認刪除
              </button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
            integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
            crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
        const { createApp } = Vue;
        const baseUrl = "https://vue3-course-api.hexschool.io";
        let productModal = '';
        let delProductModal = '';
        import pagination from './pagination.js';
        import productModaltemp from './productModal.js';
        import {delProductModaltemp} from './delProductModal.js'

        createApp({
            data(){
                return{
                    products:[],
                    tempProduct:{
                        imagesUrl:[]
                    },
                    pagination:{},
                    state:''
                }
            },
            methods: {
                getProducts(page=1) {
                  //console.log(page)
                axios
                    .get(`${baseUrl}/v2/api/pororo03-api/admin/products?page=${page}`)
                    .then((res) => {
                    //console.log(res.data);
                    this.products = res.data.products
                    this.pagination = res.data.pagination
                    }).catch((error) => {
                    //console.log(error.data);
                    const {message} =  error.data;
                    alert(message);
                    })
                },
                setHeaders(){
                const token = document.cookie.replace(/(?:(?:^|.*;\s*)mytoken\s*=\s*([^;]*).*$)|^.*$/, '$1');
                axios.defaults.headers.common['Authorization'] = token;
                },
                check(){
                axios
                    .post(`${baseUrl}/v2/api/user/check`)
                    .then((res) => {
                    //console.log(res.data);
                    this.getProducts();
                    }).catch((error) => {
                    //console.log(error.data);
                    const {message} =  error.data;
                    alert(message);
                    window.location = 'login.html';
                    })
                },
                openMdel(state , data){
                    if(state == 'new'){
                        this.state = state;
                        this.tempProduct = {
                            imagesUrl:[]
                        };
                        productModal.show();
                    };
                    if(state == 'edit'){
                        this.state = state;
                        this.tempProduct = {...data};
                        if(this.tempProduct.imagesUrl == undefined){
                          this.tempProduct.imagesUrl = []
                        }
                        productModal.show();
                    }
                    if(state == 'delete'){
                        this.state = state;
                        this.tempProduct = {...data};
                        if(this.tempProduct.imagesUrl == undefined){
                          this.tempProduct.imagesUrl = []
                        }
                        delProductModal.show();
                    }
                    
                },
                addImg(){
                    this.tempProduct.imagesUrl.push('');
                },
                removeImg(){
                    this.tempProduct.imagesUrl.pop();
                },
                createOrUpdateProduct(){
                if(this.state == 'new'){
                    axios
                    .post(`${baseUrl}/v2/api/pororo03-api/admin/product` , {data: this.tempProduct})
                    .then((res) => {
                    //console.log(res);
                    alert(res.data.message);
                    this.getProducts();
                    productModal.hide();
                    }).catch((error) => {
                    //console.log(error);
                    const {message} =  error.data;
                    alert(message);
                    })
                }else if (this.state == 'edit'){
                    axios
                    .put(`${baseUrl}/v2/api/pororo03-api/admin/product/${this.tempProduct.id}`,{data: this.tempProduct})
                    .then((res) => {
                    //console.log(res.data);
                    alert(res.data.message);
                    this.getProducts();
                    productModal.hide();
                    }).catch((error) => {
                    //console.log(error.response.data);
                    const {message} =  error.data;
                    alert(message);
                    })
                }
                },
                deleteProduct(){
                    axios
                    .delete(`${baseUrl}/v2/api/pororo03-api/admin/product/${this.tempProduct.id}`)
                    .then((res) => {
                    //console.log(res.data);
                    alert(res.data.message);
                    this.getProducts();
                    delProductModal.hide();
                    }).catch((error) => {
                    //console.log(error.response.data);
                    const {message} =  error.data;
                    alert(message);
                    })
                }
            },
            mounted() {
                 productModal = new bootstrap.Modal(document.getElementById('productModal'), {
                keyboard: false
                });
                 delProductModal =new bootstrap.Modal(document.getElementById('delProductModal'), {
                keyboard: false
                });

                this.setHeaders();
                this.check();
            },
            components:{
              pagination,
              productModaltemp,
              delProductModaltemp
            }
        }).mount('#app');

    </script>
  </body>

</html>